.user-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    input{
        background-color: rgb(202, 209, 204);
        margin: 10px;
        padding: 16px;
        font-size: 16px;
    }

    button{
        margin: 10px;    
        font-size: 24px;
        padding: 12px;
        background-color: rgb(105, 105, 156);
        color: white;
    }
}